.main {
    width: 100vw;
    height: 100vh;
    background-color: #206177;
    overflow: hidden;

    .topArea {
        width: 100vw;
        height: 40vh;
        // border: 1px solid greenyellow;
        position: relative;

        .sheep {
            position: absolute;
            width: 400px;
            height: 400px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            // border: 1px solid red;
            z-index: 9;
        }

        .sky {
            position: absolute;
            top: 0;
            width: 100vw;
            height: calc(100% - 400px);
            // border: 1px solid red;
            z-index: 8;
        }

        .icon {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 40px;
            right: 40px;
            z-index: 10;
            opacity: 0.6;
        }
    }
    .bottomArea {
        width: 100vw;
        height: 60vh;
        // border: 1px solid blue;
        position: relative;
        .bgGroup {
            width: 100vw;
            height: 60vh;
            position: relative;

            .land1 {
                width: 100vw;
                height: 60vh;
                position: absolute;
                bottom: 0;
                z-index: 10;
            }
            .land2 {
                width: 100vw;
                height: 65vh;
                position: absolute;
                bottom: 0;
                z-index: 8;
            }
            .land3 {
                width: 100vw;
                height: 70vh;
                position: absolute;
                bottom: 0;
                z-index: 7;
            }
        }

        .input {
            position: absolute;
            width: 500px;
            height: 100px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 999;
            bottom: 650px;
            // border: 1px solid orangered;
        }

        .keyboard {
            position: absolute;
            width: 500px;
            height: 500px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 999;
            bottom: 100px;
            // border: 1px solid orange;
        }
    }
}
